// Set your Variables
$loading-background: rgba(0,0,0,0.6);
$modal-background-background-color: rgba(0,0,0,0.6);
$loading-full-page-icon-size: 3em;

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";