:root {
  --side-menu-width: 20rem;
}
html, body 
  @apply tw-w-full tw-h-full tw-overflow-hidden tw-bg-gray-50
  font-family Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color rgba(0,0,0,0)
body
  padding-top env(safe-area-inset-top)
  padding-bottom env(safe-area-inset-bottom)
// Remove the blue highlight of button on mobile?
input,
textarea,
button,
select,
a
  -webkit-tap-highlight-color rgba(0,0,0,0)
.button
  @apply tw-rounded-lg !important
.radio, .checkbox
  @apply tw-mr-3 tw-ml-0 tw-my-1 !important
.label
  @apply tw-text-lg
.page-fade-enter-active,
.page-fade-leave-active,
.side-menu-enter-active,
.side-menu-leave-active 
  transition all .3s ease
.page-fade-enter,
.page-fade-leave-to
  @apply tw-opacity-0;
.side-menu-enter,
.side-menu-leave-to 
  transform translateX(calc(var(--side-menu-width)*-1))

