<template>
  <div>
    <header class="m-0 md:m-4">
      <figure class="image is-3by1">
        <!-- 圖片長寬比3:1，<500K -->
        <img class="tw-object-cover md:rounded-xl" src="./../assets/images/content-background.jpg">
      </figure>
    </header>
    <div class="tw-px-10 tw-py-4">
      <div class="tw-grid tw-gap-5 tw-grid-cols-2 md:tw-grid-cols-3">
        <div @click="clickfun1">
          <figure class="image is-1by1 tw-w-100 tw-bg-gradient-to-b tw-from-yellow-400 tw-via-yellow-500 tw-to-yellow-600 tw-rounded-xl tw-text-white tw-relative tw-shadow-lg tw-border tw-border-yellow-500">
            <div class="tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2">
              <svg class="tw-w-14 tw-h-14 tw-mx-auto tw-filter tw-drop-shadow-md" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M8.46,15.06L7.05,16.47L5.68,15.1C4.82,16.21 4.24,17.54 4.06,19H6V21H2V20C2,15.16 5.44,11.13 10,10.2V8.2L2,5V3H22V5L14,8.2V10.2C18.56,11.13 22,15.16 22,20V21H18V19H19.94C19.76,17.54 19.18,16.21 18.32,15.1L16.95,16.47L15.54,15.06L16.91,13.68C15.8,12.82 14.46,12.24 13,12.06V14H11V12.06C9.54,12.24 8.2,12.82 7.09,13.68L8.46,15.06M12,18A2,2 0 0,1 14,20A2,2 0 0,1 12,22C11.68,22 11.38,21.93 11.12,21.79L7.27,20L11.12,18.21C11.38,18.07 11.68,18 12,18Z" />
              </svg>
              <p class="tw-text-xl tw-font-semibold tw-whitespace-nowrap tw-mt-1 tw-filter tw-drop-shadow-md tw-text-center">{{isDeliver ? '掃 描':'秤 重'}}</p>
            </div>
          </figure>
        </div>
        <div @click="$router.push('/statistic')">
          <figure class="image is-1by1 tw-w-100 tw-bg-gradient-to-b tw-from-yellow-400 tw-via-yellow-500 tw-to-yellow-600 tw-rounded-xl tw-text-white tw-relative tw-shadow-lg tw-border tw-border-yellow-500">
            <div class="tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2">
              <svg class="tw-w-14 tw-h-14 tw-mx-auto tw-filter tw-drop-shadow-md" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z"></path></svg>
              <p class="tw-text-xl tw-font-semibold tw-whitespace-nowrap tw-mt-1 tw-filter tw-drop-shadow-md tw-text-center">統 計</p>
            </div>
          </figure>
        </div>
        <div @click="clickfun2" class="tw-opacity-60 tw-filter tw-grayscale">
          <figure class="image is-1by1 tw-w-100 tw-bg-gradient-to-b tw-from-yellow-400 tw-via-yellow-500 tw-to-yellow-600 tw-rounded-xl tw-text-white tw-relative tw-shadow-lg tw-border tw-border-yellow-500">
            <div class="tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2">
              <svg class="tw-w-14 tw-h-14 tw-mx-auto tw-filter tw-drop-shadow-md" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>
              <p class="tw-text-xl tw-font-semibold tw-whitespace-nowrap tw-mt-1 tw-filter tw-drop-shadow-md tw-text-center">單日結算</p>
            </div>
          </figure>
        </div>
				<div @click="clickGo">
          <figure class="image is-1by1 tw-w-100 tw-bg-gradient-to-b tw-from-yellow-400 tw-via-yellow-500 tw-to-yellow-600 tw-rounded-xl tw-text-white tw-relative tw-shadow-lg tw-border tw-border-yellow-500">
            <div class="tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2">
              <svg class="tw-w-14 tw-h-14 tw-mx-auto tw-filter tw-drop-shadow-md" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z"></path></svg>
              <p class="tw-text-xl tw-font-semibold tw-whitespace-nowrap tw-mt-1 tw-filter tw-drop-shadow-md tw-text-center">交易行情</p>
            </div>
          </figure>
        </div>
        <div @click="SetWt">
          <figure class="image is-1by1 tw-w-100 tw-bg-gradient-to-b tw-from-yellow-400 tw-via-yellow-500 tw-to-yellow-600 tw-rounded-xl tw-text-white tw-relative tw-shadow-lg tw-border tw-border-yellow-500">
            <div class="tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2">
              <svg class="tw-w-14 tw-h-14 tw-mx-auto tw-filter tw-drop-shadow-md" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"></path><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path></svg>
              <p class="tw-text-xl tw-font-semibold tw-whitespace-nowrap tw-mt-1 tw-filter tw-drop-shadow-md tw-text-center">磅秤設定</p>
            </div>
          </figure>
        </div>
        <div @click="SetPrn">
          <figure class="image is-1by1 tw-w-100 tw-bg-gradient-to-b tw-from-yellow-400 tw-via-yellow-500 tw-to-yellow-600 tw-rounded-xl tw-text-white tw-relative tw-shadow-lg tw-border tw-border-yellow-500">
            <div class="tw-absolute tw-top-1/2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw--translate-y-1/2">
              <svg class="tw-w-14 tw-h-14 tw-mx-auto tw-filter tw-drop-shadow-md" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z"></path></svg>
              <p class="tw-text-xl tw-font-semibold tw-whitespace-nowrap tw-mt-1 tw-filter tw-drop-shadow-md tw-text-center">列印設定</p>
            </div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import { deviseFunction, returnJsInterFace } from 'src/libs/deviseHelper.js'
import { deviseFunction } from 'src/libs/deviseHelper.js'
import { S_Obj,L_Obj,IsLogin } from 'src/fun1.js'	// 共用fun在此!

const IsDev = S_Obj.isDebug 	//開發debug

export default {
  name: "Home",
  data() {
    return {
			state: this.$store.state,
			// 是否運銷商
			isDeliver: 0,
    };
  },
	// computed: {
		// isDeliver(){
			// const aa = L_Obj.read('DeliverType')==1
			// console.log('isDeliver-aa: ', aa);	// @@
			// return aa
		// },
	// },
  methods: {
    SetWt() {
			deviseFunction('SetWt', '磅秤', '"cbFnSetWt"');
			// if (confirm("是否要測試發callback?")) {
				// const num1 	= Math.floor(Math.random()*(99-10+1)+10)	// @@測試demo
					// ,v1				= num1+'.23kg';
				// alert('測試發數據: \n'+v1);	// @@
				// returnJsInterFace({State:'OK',Type:'Getweighing',Obj:v1},"cbFnGetweighing")
			// }
    },
    SetPrn() {
			deviseFunction('SetPrn', 'BT1', '"cbFnSetPrn"')
			// if (confirm("是否要測試發callback?")) {
				// returnJsInterFace({State:'OK',Type:'SetPrn',Obj:'設定列印設定列印'},"cbFnSetPrn")
			// }
    },
    clickfun2() {
			// this.$router.push('/statistic')
    },
    clickfun1() {
			if (this.isDeliver) {
				/* 開啟手機的條碼掃描 */
				if (IsDev) {
					const gid = '150E1DC1-370D-4CA6-B85A-1CD9A82C46E9'
					S_Obj.save('M_Scales_GID', gid);
					this.$store.dispatch('GetSetScaleGid') // 秤重記錄

				} else {
					deviseFunction('barcode', '', '"cbFnScanQrSerCode"');
				}

			} else {
				this.$router.push('/weighing')
			}
		},
		clickGo() {
			location = 'https://m.coa.gov.tw/Transaction/AgriculturalProduct/Index';
		},
  },
  beforeRouteEnter(to, from, next) {
		if (!IsLogin()) return next('/')

		// next()
    next(vm => {
			const isTrue = L_Obj.read('DeliverType')==1
			vm.isDeliver = isTrue;
			// console.log('isDeliver-isTrue: ', isTrue);	// @@
    });
  }
};
</script>