<template>
  <div>
    <header class="tw-m-0 md:tw-m-4">
      <figure class="image is-3by1">
        <!-- 圖片長寬比3:1，<500K -->
        <img class="tw-object-cover md:tw-rounded-xl" src="./../assets/images/content-background.jpg">
      </figure>
    </header>
    <div class="tw-p-4">
      <div class="columns is-mobile is-variable is-1 is-multiline is-vcentered tw-mb-0">
        <div class="column tw-py-3 is-full">
          <div class="notification is-success is-light tw-text-xl tw-font-semibold tw-text-center tw-rounded-lg tw-py-3">使用者登入</div>
        </div>
        <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
          身分類型
        </div>
        <div class="column tw-py-2 is-9">
          <b-field type="is-success">
            <b-select placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" expanded v-model="isDeliver">
              <option value="0">集貨站</option>
              <option value="1">運銷商</option>
            </b-select>
          </b-field>
        </div>
        <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
          企業號
        </div>
        <div class="column tw-py-2 is-9">
          <b-field>
						<b-select v-if="isTest" placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" v-model="enterprise" expanded>
						<option value=""></option>
						<option v-for="(one, index) in arrEpid" :key="'d_'+index" :value="one.RoleEnterPriseID">{{one.RoleEnterPriseID}}</option>
						</b-select>

            <b-input v-else v-model="enterprise"
              size="is-medium"
              icon="home"
              custom-class="is-success"
            >
            </b-input>

          </b-field>
        </div>
        <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
          帳號
        </div>
        <div class="column tw-py-2 is-9">
          <b-field>
            <b-input v-model="account"
              size="is-medium"
              icon="account"
              custom-class="is-success"
            >
            </b-input>
          </b-field>
        </div>
        <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
          密碼
        </div>
        <div class="column tw-py-2 is-9">
          <b-field>
            <b-input type="password"
              size="is-medium"
              icon="lock-open"
              custom-class="is-success"
              v-model="password"
            >
            </b-input>
          </b-field>
        </div>
        <div class="column tw-py-6 is-full">
          <button class="button is-success is-medium is-fullwidth tw-font-semibold is-large" :class="{'is-loading':isRuned}" @click="doLogin">登入</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
</style>

<script>
import axios from 'axios'
// import store from 'src/store'
import { showAlert } from 'src/libs/appHelper.js'
import { L_Obj, IsLogin } from 'src/fun1.js'	// 共用fun在此!

const IsDev = /localhost/.test(location.hostname)
// const IsDev = false
	,LS1 			= L_Obj.read('loginForm') || {}

export default {
  name: "Home",
  data() {
    return {
			state: this.$store.state,
      isDeliver: 0,	// 是否運銷商

      isRuned: false,
      isTest: false,
			/* 各企號身份:集貨站/運銷商 */
      arrScalesRole1: [],
      arrScalesRole2: [],
      arrEpid: [],
      enterprise: '',
      account: '',
      password: ''
    };
  },
  // computed: {
		// cxxx() {
		// },
  // },
  methods: {
		getScalesRole(v1) {
			v1 = v1 || this.isDeliver;
			let arr1 	= (this.isTest ? this.arrScalesRole2 : this.arrScalesRole1) || []
			const arr2 = arr1.filter((o1) => {
				return o1.RoleName == v1;
			});
			// IsDev && console.log('watch_isDeliver-arr2: ', arr2);	// @@
			return arr2
		},
    // 秀狀態訊息
    showMsg(bOK, _msg) {
			const msg1 = bOK ? '' : _msg||'帳號或密碼錯誤!'
			this.$buefy.toast.open({
				duration: 2000,
				message: msg1,
				type: 'is-'+(bOK ? 'success' : 'danger'),
				position: 'is-top',
				actionText: '',
				queue: true
			})
			this.isRuned = false
    },
    async doLogin() {
      if(!this.account) return showAlert("請輸入 帳號!!");
      if(!this.password) return showAlert("請輸入 密碼!!");
      if(!this.enterprise) return showAlert("請選擇 企業號!!");

			const isDeliver = this.isDeliver
			const arr2 = this.arrEpid.filter((o1) => {
				return o1.RoleEnterPriseID == this.enterprise && o1.RoleName == isDeliver;
			});
			// IsDev && console.log('doLogin-arr2: ', arr2);	// @@
			if (!arr2.length){
				showAlert("請確認身分類型!!");
				return
			}

			this.isRuned = true
			let loginForm = {
				enterprise: this.enterprise,
				account: this.account,
				password: this.password,
			}
			await this.$store
				.dispatch('ensureLogin', loginForm)
				.then(data => {
					const isOK = data.ErrorCode == 0
					if (isOK) {
						L_Obj.save('DeliverType', isDeliver);
						this.isRuned = false
						this.$router.push('/index')

					} else {
						this.showMsg(false, data.ErrorMsg);
					}
				})

    },
		async fetchAllData(){
			this.setLoading(true)
			
			this.arrScalesRole1 = await fetchScalesRole('8001')
			this.arrScalesRole2 = await fetchScalesRole('8012test')
			console.log('fetchAllData-arrScalesRole1: ', this.arrScalesRole1);	// @@
			this.arrEpid = this.getScalesRole(this.isDeliver);

			this.setLoading(false)
    },

  },
  async created() {
		await this.fetchAllData();
		/** @Maybe: 自動帶第1個,需注意watch會清值要搭配使用: */
		// const arr1 = this.arrEpid
		// if (arr1.length) {
			// this.enterprise = arr1[0].RoleEnterPriseID;
		// }
  },
	beforeRouteLeave: function(to, form, next){
		this.$destroy()	// 消滅此 instance
		next()
	},
  async beforeRouteEnter(to, from, next) {
    next( vm => {
			if (LS1.account) {
				vm.enterprise = LS1.enterprise;
				vm.account = LS1.account;
				vm.password = LS1.password;
			}

			if (IsLogin()) {
				location.replace('#/index');
			}
    })
  },
	watch: {
		isDeliver: function (v1) {
			this.enterprise = '';
			this.arrEpid = this.getScalesRole(v1);
		},
		account: function (v1) {
			if (!v1.length) { return; }

			this.isTest = v1.left(3) == 'jh8';
			// this.enterprise = '';
			this.arrEpid = this.getScalesRole();
		},
	}

};

async function fetchScalesRole(host1) {
	const head = {"headers": {"Content-Type": "application/x-www-form-urlencoded"}}
		// ,url = 'https://8012test.jh8.tw/public/AppData.ashx'
		,url = `https://${host1}.jh8.tw/public/AppData.ashx`
		,body = {
		"EnterpriseID": "jinher",
		"isFrom": "weighingapp",
		"act": "M_Scales_Role",
		"FunctionID": "950201"
	};
	const {data} = await axios.post( url, body, head )
	// console.warn('fetch_ScalesRole-data: ', data);	// @@

	if (data.ErrorCode == 0) {
		const res1 = JSON.parse(data.Remark);
		/** @Debug: 待查用 */
		if (IsDev && res1.length) {
			console.log('fetchScalesRole-host: '+host1);	// @@
			let tmparr2 = []	// @@
			res1.forEach((op1)=>{
				let {RoleEnterPriseID,RoleName} = op1
				tmparr2.push({RoleEnterPriseID,RoleName});
			})
			console.table(tmparr2)	// @@
		}

		return res1;
	} else {
		return showAlert(data.ErrorMsg);
	}

}
</script>