<template>
  <div>
    <!-- 修改密碼 -->
    <template v-if="$route.query.mode=='password'">
      <div class="notification is-success is-light tw-text-xl tw-font-semibold tw-text-center tw-rounded-lg tw-py-3">修改密碼</div>
      <div class="tw-py-4 tw-px-6">
        <div class="columns is-mobile is-variable is-1 is-multiline is-vcentered tw-mb-0">
          <div class="column tw-py-2 is-4 tw-text-lg tw-font-semibold">
            舊密碼
          </div>
          <div class="column tw-py-2 is-8">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-success is-medium tw-bg-gray-50 tw-rounded-lg" type="password">
                <span class="icon is-left">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-unlock" viewBox="0 0 16 16">
                    <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z"/>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="column py-2 is-4 tw-text-lg tw-font-semibold">
            新密碼
          </div>
          <div class="column tw-py-2 is-8">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-success is-medium tw-bg-gray-50 tw-rounded-lg" type="password">
                <span class="icon is-left">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="column tw-py-2 is-4 tw-text-lg tw-font-semibold">
            確認新密碼
          </div>
          <div class="column tw-py-2 is-8">
            <div class="field">
              <div class="control has-icons-left">
                <input class="input is-success is-medium tw-bg-gray-50 tw-rounded-lg" type="password">
                <span class="icon is-left">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                    <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                </span>
              </div>
            </div>
          </div>
          <div class="column tw-py-6 is-full">
            <button class="button is-success is-medium is-fullwidth tw-font-semibold" :class="{'is-loading':isBtnLoading}" @click="doSomething">修改</button>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
export default {
  name: "Home",
  data() {
    return {
      isBtnLoading: false,
    };
  },
  methods: {
    doSomething() {
      this.isBtnLoading = true
      this.$buefy.toast.open({
        duration: 1000,
        message: '請填入舊密碼，才可設定新密碼。',
        type: 'is-danger',
        position: 'is-top',
        actionText: '',
        queue: true
      })
      setTimeout(() => {
        this.isBtnLoading = false
      }, 1000);
    },
  }
};
</script>
