<template>
  <div>
    <template v-if="!nCurStep">
      <div class=" tw-grid tw-grid-cols-1 tw-gap-y-4 tw-p-4">
        <b-button size="is-large"
					v-if="!isDeliver"
          type="is-success"
          class="tw-font-semibold"
          expanded
          @click="$router.push('/statistic?q=record')"
        >
          秤 重 紀 錄
        </b-button>
        <b-button size="is-large"
          type="is-success"
          class="tw-font-semibold"
          expanded
          @click="$router.push('/statistic?q=dailyReport')"
        >
          每 日 報 表
        </b-button>
        <b-button size="is-large"
          type="is-success"
          class="tw-font-semibold"
          expanded
          @click="$router.push('/statistic?q=monthlyReport')"
        >
          每 月 報 表
        </b-button>
      </div>
    </template>

    <template v-if="!!nCurStep">
      <div class=" tw-p-4">
        <p class=" tw-font-bold tw-text-2xl tw-mb-4">{{uData.EnterpriseName}}</p>
        <div class="columns is-mobile is-variable is-1 is-multiline is-vcentered">
				<template v-if="/1|2/.test(nCurStep)">
          <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">選擇日期</div>
          <div class="column tw-py-2 is-9">
            <b-field type="is-success">
							<b-datepicker
								size="is-medium"
								icon="calendar-today"
								:icon-right="''"
								:show-week-number="false"
								:disabled="isLockDate"
								v-model="selDate1">
							</b-datepicker>
            </b-field>
          </div>
				</template>
				<template v-if="nCurStep == 3">
          <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">選擇月份</div>
          <div class="column tw-py-2 is-9">
            <b-field type="is-success">
              <b-select placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" v-model="selMonth" expanded>
							<option v-for="i in 12" :key="'mon_'+i" :value="i">{{i}}月份</option>
              </b-select>
            </b-field>
          </div>
				</template>
          <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
            {{isDeliver ? '集貨站' : '生產者'}}
          </div>
          <div class="column tw-py-2 is-9">
            <template v-if="!isDeliver">
							<template v-for="(one, index) in arrProducer">
							<b-checkbox v-model="selProducer" :key="'u_'+index"
								:native-value="one.ProducerID">
								{{one.ProducerID}} {{one.PName}}
							</b-checkbox>
							</template>
            </template>
            <template v-else>
							<template v-for="(one, index) in arrStations">
							<b-checkbox v-model="selProducer" :key="'p_'+index"
								:native-value="one.RoleEnterPriseID">
								{{one.RoleEnterPriseID}} {{one.EnterpriseName}}
							</b-checkbox>
							</template>
            </template>
          </div>
          <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold" v-if="!isDeliver">
            運銷商
          </div>
          <div class="column tw-py-2 is-9" v-if="!isDeliver">
            <b-field type="is-success">
              <b-select placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" v-model="selDeliver" expanded>
							<option value=""></option>
							<option v-for="(one, index) in arrDeliver" :key="'d_'+index" :value="one.DeliverID">{{one.DeliverID}} {{one.DName}}</option>
              </b-select>
            </b-field>
          </div>
          <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
            秤重品項
          </div>
          <div class="column tw-py-2 is-9">
            <b-field type="is-success">
              <b-select placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" v-model="selFoods" expanded>
							<option value=""></option>
							<option v-for="(one, index) in arrFoods" :key="'v_'+index" :value="one.FoodID">{{one.FoodID}} {{one.FoodName}}</option>
              </b-select>
            </b-field>
          </div>
          <div class="column tw-py-3 is-full">
            <b-button size="is-large"
              type="is-success"
              class="tw-font-semibold"
							@click="clickSubmit"
              expanded>
              確 定
            </b-button>
          </div>
          <div class="column tw-py-3 is-full tw-text-right">
            單位 <b-switch v-model="isTaijin"
            :rounded="false"
            :outlined="false"
            size="is-medium"
            type="is-primary"
            passive-type="is-warning">{{isTaijin?"台斤":"公斤"}}
						</b-switch>
          </div>
        </div>
        <div>
          <table class="table is-fullwidth is-striped tw-text-sm">
            <thead>
              <tr>
                <th class="tw-text-left tw-align-middle">編號</th>
                <th class="tw-align-middle">日期</th>
                <!-- <th class="tw-align-middle" v-if="isDeliver">批次</th> -->
                <th class="tw-align-middle">品項</th>
                <th class="tw-text-right tw-align-middle tw-whitespace-nowrap">重量<br>{{isTaijin?"台斤":"公斤"}}</th>
              </tr>
            </thead>
            <tbody>
              <template v-for="(one, index) in arrResult">
                <tr :key="'r_'+index">
                  <td>{{one.no}}</td>
                  <td>{{one.CreateDate.left(10)}}</td>
                  <!-- <td>{{one.LotNo}}</td> -->
                  <td>{{one.FoodID}} {{one.FoodName}}</td>
                  <td class=" tw-text-right">
                    {{isTaijin?one.Taijin:one.Weights}}
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
<!--
        <nav class="tw-py-4 tw-flex tw-justify-between tw-items-center">
          <div class=" tw-flex-none tw-flex tw-items-center">
            <a class="is-dark button">上頁</a>
            <div class=" tw-mx-3 tw-flex tw-items-center">
              <div class="control tw-mr-2">
                <input class="input tw-w-12 tw-text-center" type="number" v-model="nCurPage">
              </div>
              / {{totalPage}}
            </div>
            <a class="is-dark button">下頁</a>
          </div>
          <div class=" tw-flex-none">
            共{{totalPage}}頁，{{totalNum}}筆
          </div>
        </nav>
 -->
        <b-pagination
					:total="totalNum"
					v-model="nCurPage"
					:per-page="nPerPage"
					:icon-prev="'chevron-left'"
					:icon-next="'chevron-right'"
					:order="'is-centered'">
        </b-pagination>

<p class="tw-text-right">共{{totalNum}}筆</p>

      </div>
    </template>

<!--     <template v-if="$route.query.q=='monthlyReport'">
      每 月 報 表
    </template> -->
  </div>
</template>

<style lang="stylus">
.datepicker
  .input
    @apply tw-pr-3 !important
  .icon.is-right
    @apply tw-hidden
</style>

<script>
import store from 'src/store'
// import moment from 'moment'

// import { showConfirm, hideModal } from 'src/libs/appHelper.js'
import { showAlert } from 'src/libs/appHelper.js'
import { S_Obj, L_Obj, ForDate1, GetDateDiff, ToTaijin } from 'src/fun1.js'	// 共用fun在此!


const IsDev = S_Obj.isDebug 	//開發debug

export default {
  name: "Statistic",
  data() {
    return {
      state: this.$store.state,
      publicData: this.$store.state.publicData,
      // uData: this.$store.state.userData,		// NG: 登入/登出 不更新

      isDeliver: 0,
      isRuned: false,
      isSubmit: false,
      isLockDate: false,
      isTaijin: true,		// 台斤/公斤
			// nowday: ForDate1(),

			arrProducer: [], // 生產者
			arrStations: [], // 集貨站
			arrDeliver: [], // 運銷商
			arrFoods: [], // 農產品
			arrResult: [], // 結果

			// totalPage: 5,		// 總頁數
			totalNum: 0,			// 總筆數
			nPerPage: 15,			// 每頁秀幾筆
			nCurPage: 1,			// 當前頁碼
			StartRow: 1,			// 起始筆數
			EndRow: 15,				// 結束筆數=每頁秀幾筆(nPerPage
			nCurStep: 0,			// 0:選單,1:秤重紀錄,2:每日報表,3:每月報表

      selMonth: '',
      // selProducer: '',
      selProducer: [],
      selDeliver: '',
      selFoods: '',
      selDate1: new Date(),
      selDate2: new Date(),

    };
  },
  computed: {
    uData() {
      return this.state.userData
    },
    // nWeight() {
      // return this.publicData.weight
    // },
    // nTaijin() {
			// const n1 = this.nWeight * 1.6667
      // return n1 ? ToDecimal(n1, 2) : 0;
    // },
  },

  methods: {
		/* 選擇月份 */
    choiceMonth(num1) {
			var startdate = new Date();
			startdate.setMonth(num1-1);
			startdate.setDate(1);

			var enddate = new Date();
			enddate.setMonth(num1);
			enddate.setDate(1);
			enddate.setDate(enddate.getDate()-1);

			const s1 	= ForDate1(startdate)
				,s2 		= ForDate1(enddate)
			// console.log('bbb-s1, s2', s1, s2);	// @@
			this.selDate1 = s1;
			this.selDate2 = s2;

			// console.log('setData-selDate2,selDate1: ', this.selDate2, this.selDate1);	// @@
    },
    clickSubmit() {
			this.isSubmit = true
			this.sendForm();
    },
    async sendForm() {
			const param1 = this.getParam1()
			if (!param1) { return; }

      if (this.isRuned)		return	// 防止連按
			this.isRuned = true

			await this.getTotalCount();

			const isMonth = this.nCurStep == 3
				,_act				= 'ensureWeightList'+(isMonth?2:1)
      this.$store.dispatch(_act, param1).then(res => {
				IsDev && console.log('sendForm-res: ', res);	// @@
				let nLen = res.length
				// if (nLen) {	// 成功
					let i = 0, a1 = null;
					const nStart 	= this.StartRow
						,num 				= nStart > 1 ? nStart : 1

					while (i<nLen) {
						a1 = res[i];
						a1.no = num+i;
						a1.Taijin = ToTaijin(a1.Weights)
						i++;
					}
					this.arrResult = res;

				// } else {
					// this.showMsg();
        // }
				this.isRuned = false
				this.isSubmit && this.resetRow();
      })
    },
    async getTotalCount() {
			const param1 = this.getParam1()
			if (!param1) { return; }

			const isMonth = this.nCurStep == 3
				,_act				= 'ensureWeightCountList'+(isMonth?2:1)
      await this.$store.dispatch(_act, param1).then(res => {
				IsDev && console.log('getTotalCount-res: ', res);	// @@
				if (res.length) {	// 成功
					const one = res[0]
						,nCount	= one.TotalCount
					this.totalNum = nCount;
					if (!nCount) { this.showToast(false, '查無記錄!'); }
				} else {
					this.totalNum = 0;
        }
      })
    },
    getParam1() {
			const selProducer = this.selProducer
				,selDeliver 		= this.selDeliver
				,selFoods 			= this.selFoods
				// ,uData = this.state.userData
				,isMonth 				= this.nCurStep == 3

			let selDate1 	= ForDate1(this.selDate1)
				,selDate2		= ForDate1(this.selDate2)
			if (isMonth) {
				selDate1 = this.selDate1;
				selDate2 = this.selDate2;
			}
			if (selDate2<selDate1) { showAlert("日期選擇不對"); return; }

			const dayDiff = GetDateDiff(selDate1, selDate2, "d");
			if (dayDiff>60) { showAlert("僅供查詢2個月範圍的日期"); return; }

			// console.log('doQuery-selDate1,selDate2,dayDiff: ', selDate1, selDate2, dayDiff);	// @@
			console.log('doQuery-selProducer: ', selProducer);	// @@
			// console.log('doQuery-selDeliver: ', selDeliver);	// @@
			// console.log('doQuery-selFoods: ', selFoods);	// @@

			const param1 = {
				BeginDate: selDate1,
				EndDate: selDate2,
				// ProducerID: _pid,
				ProducerID: selProducer.join(),
				DeliverID: selDeliver,
				FoodID: selFoods,
				StartRow: this.StartRow,
				EndRow: this.EndRow,
				OrderByRows: "a.LotNo",
			}

			const isDeliver = this.isDeliver
			if (isDeliver) {
				param1.RoleEnterPriseID = selProducer.join();
			}
			IsDev && console.log('ensureWeightList1-param1: ', param1);	// @@
			return param1;
    },
    // 秀狀態訊息
    showMsg() {
			this.showToast(false, '查詢失敗');
    },
		async fetchAllData(){
			this.setLoading(true)

			const isDeliver = this.isDeliver
			let arr1 = [], arr2 = []
			if (isDeliver) {
				// const arr1 = JSON.parse("[{\"RoleEnterPriseID\":\"2906459794\",\"EnterpriseName\":\"屏東高樹\"},{\"RoleEnterPriseID\":\"5817636284\",\"EnterpriseName\":\"大內木瓜園\"},{\"RoleEnterPriseID\":\"6355266328\",\"EnterpriseName\":\"欣奇農場\"}]")	// @@test

				await store.dispatch('fetchStations') // for 集貨站
				arr1 = this.publicData.appStations

				this.arrStations = arr1
				// console.log('fetchAllData-arrStations: ', this.arrStations);	// @@
			} else {
				await store.dispatch('fetchProducer') // for 生產者
				arr1 = this.publicData.appProducer
				this.arrProducer = arr1
				console.log('fetchAllData-arrProducer: ', this.arrProducer);	// @@
				await store.dispatch('fetchDeliver') // for 運銷商
				this.arrDeliver = this.publicData.appDeliver
				// console.log('fetchAllData-arrDeliver: ', this.arrDeliver);	// @@
			}
			await store.dispatch('fetchFoods') // for 農產品
			this.arrFoods = this.publicData.appFoods
			// console.log('fetchAllData-arrFoods: ', this.arrFoods);	// @@
			// console.warn('fetchAllData-selDate1,selDate2: '+this.selDate1, this.selDate2);	// @@
			arr1.forEach((one)=>{
				const v1 = isDeliver ? one.RoleEnterPriseID : one.ProducerID
				v1 && arr2.push(v1);
			})
			this.selProducer = arr2
			// console.log('fetchAllData-selProducer: ', this.selProducer);	// @@

			this.setLoading(false)
    },
		resetRow(){
			this.StartRow = 1;
			this.nCurPage = 1;
			this.isSubmit = false
    },
		async setData(pg1){
			this.isDeliver = L_Obj.read('DeliverType')==1;
			this.initData();
			pg1 && await this.fetchAllData();

			if (pg1 == 'record') {
				this.nCurStep = 1;
			} else if (pg1 == 'dailyReport') {
				this.nCurStep = 2;
				// this.isLockDate = true;
			} else if (pg1 == 'monthlyReport') {
				this.nCurStep = 3;
				const now1 	= new Date()
					,nowMonth = now1.getMonth()+1
				this.selMonth = nowMonth;
				this.choiceMonth(nowMonth);

			} else {	// null
				this.nCurStep = 0;
			}

			if (/1|2/.test(this.nCurStep)) {
				this.selDate1 = this.selDate2 = new Date();
			}

			// IsDev && console.warn('setData-isDeliver,nCurStep: '+this.isDeliver, this.nCurStep);	// @@

    },
		initData(){
      this.arrResult = []
      this.arrStations = []
      this.arrProducer = []
      this.selProducer = []
      this.selDeliver = ''
      this.selFoods = ''
    },
  },
  beforeRouteEnter(to, from, next) {
		next(vm => {
			const q1	= to.query.q
			// console.log('watch-route: ', q1);	// @@
			vm.setData(q1);
		})
  },
	watch: {
    '$route'(pg1){
			const q1	= pg1.query.q
			// console.log('watch-route: ', q1);	// @@
			this.setData(q1);
    },
		/* 選擇日期 */
		selDate1(num1){
			// console.log('選擇日期-num1: ', num1);	// @@
			if (this.nCurStep != 3) {
				this.selDate2 = num1;
			}
    },
		/* 選擇月份 */
		selMonth(num1){
			this.selMonth = num1;
			this.choiceMonth(num1);
    },
		/* 更新目前頁數 */
		nCurPage(num1){
			// console.warn('更新目前頁數: ', num1);	// @@
			const total	= this.totalNum
			let _txt = '查無記錄!!'
			if (total != 0) {
				let start	= (num1-1) * this.nPerPage + 1
					,end 		= num1 * this.nPerPage

				start 	= (start < total) ? start : total;
				end 	= (end < total) ? end : total;
				_txt 	= '第 '+start+' ~ '+end+' 筆，共 '+total+' 筆資料';
				this.StartRow = start;
				this.EndRow = end;
				this.sendForm()
			// } else {
			}
			IsDev && console.warn(_txt);	// @@
    },
	}
};
</script>