<template>
  <div class="content">
		<h3 class="tw-mt-0">{{uData.EnterpriseName}}</h3>

    <div class="notification is-success is-light tw-text-xl tw-font-semibold tw-text-center tw-rounded-lg tw-py-3">秤 重</div>
    <div class="columns is-mobile is-variable is-1 is-multiline is-vcentered tw-mb-0 tw-px-4">
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        出貨日
      </div>
      <div class="column tw-py-2 is-9">
        <h5 class="tw-text-gray-400">{{formatDay}}</h5>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        集 貨 站
      </div>
      <div class="column tw-py-2 is-9">
        <h5 class="tw-text-gray-400">{{cur1.DeliverID}} {{cur1.DName}}</h5>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        批 號
      </div>
      <div class="column tw-py-2 is-9">
        <h5 class="tw-text-gray-400">{{cur1.LotNo}}</h5>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        生產者
      </div>
      <div class="column tw-py-2 is-9">
        <h5 class="tw-text-gray-400">{{cur1.ProducerID}} {{cur1.PName}}</h5>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        秤重品項
      </div>
      <div class="column tw-py-2 is-9">
        <h5 class="tw-text-gray-400">{{cur1.FoodID}} {{cur1.FoodName}}</h5>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        重量
      </div>
      <div class="column tw-py-2 is-9">
        <h5 class="tw-text-gray-400">{{cur1.Weights}} {{cur1.Unit}}</h5>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        備註
      </div>
      <div class="column tw-py-2 is-9">
        <h5 class="tw-text-gray-400">{{cur1.Remark||''}}</h5>
      </div>

<textarea v-model="textarea1" class="textarea select-auto" placeholder="請寫下您的想法" style="min-height: 6em"></textarea>

<b-button type="is-success" @click="clickOK">確定</b-button>
<b-button @click="clickDel">清除</b-button>

    </div>
  </div>
</template>

<script>
// import store from 'src/store'
import { showAlert } from 'src/libs/appHelper.js'

// import { deviseFunction, sendDeviseToPrn } from 'src/libs/deviseHelper.js'
// import { S_Obj, ForDate2, ToDecimal } from 'src/fun1.js'	// 共用fun在此!
// import { S_Obj, L_Obj, ForDate2, GetPara1 } from 'src/fun1.js'	// 共用fun在此!
import { S_Obj, L_Obj, ForDate2 } from 'src/fun1.js'	// 共用fun在此!

// const IsDev = S_Obj.isDebug 	//開發debug
const Ls1	= L_Obj.read('userData') || {}
	,IsHank = /hank/.test(Ls1.UserCode)		// @@test

export default {
  name: "Home",
  data() {
    return {
      state: this.$store.state,
      // publicData: this.$store.state.publicData,
      uData: this.$store.state.userData,

      isRuned: false,
      textarea1: '',
      serQCode: '',						// 記錄掃code帶回QRcode
      inputQRcode: '',
      cur1: {},
    };
  },
  computed: {
    // uData() {
      // return this.state.userData
    // },
    formatDay() {
			const str1 = this.cur1.CreateDate
      return str1 ? ForDate2(str1.left(10)) : ''
    },
  },
  methods: {
    getOpid() {
			/** @PS: 輸入要大於掃碼,因可能掃不出結果改用打字 */
			return this.inputQRcode || this.serQCode
    },
    clickDel() {
    },
    clickOK() {
			// if (IsDev) {
				// const num1 = Math.floor(Math.random()*(99-10+1)+10)*0.123;	// @@測試demo
				// store.commit('setGetweighing', ToDecimal(num1, 2)+'kg')	// @@測試demo
			// }

      if (this.isRuned)		return	// 防止連按
			this.isRuned = true

			const textarea1 = this.textarea1
// console.log('doPrint-textarea1: ', textarea1);	// @@

			// const gid 	= this.getOpid()
			const gid 	= S_Obj.read('M_Scales_GID')
			const param1 = {
				GID: gid,
				Remark: textarea1,
			}
			this.$store.dispatch('updateScaleRemark', param1);
			showAlert("更新完成!");

      // this.$store.dispatch('updateScaleRemark', param1).then(res => {
				// IsDev && console.log('ensureScaleWeight-res: ', res);	// @@
			// });

			this.isRuned = false;
		},
		/* 掃碼回來-殼 */
		// restoreData(code1) {
			// IsHank && alert(`手機的掃描: ${code1}`);	// @@
			// this.serQCode = this.inputQRcode = code1;

			// const one = S_Obj.read('M_SCALES_ONE')
			// console.log('beforeRouteEnter-one: ', one);	// @@
			// if (one) {
				// // this.cur1 = one || {};
				// this.cur1 = one;
			// }
    // },

  },
	/** @NoNo: 無此時機 */
  // beforeRouteUpdate: function(to, form, next){
    // next();
  // },
	/** @Remember: 每一次都來 */
  async beforeRouteEnter(to, from, next) {

		// next()
    next(vm => {
			// // 掃碼回來-殼
			// const code1 = GetPara1('serQCode')
			// if (code1) {
				// vm.restoreData(code1);

			const one = S_Obj.read('M_SCALES_ONE')
			console.log('beforeRouteEnter-one: ', one);	// @@
			if (one) {
IsHank && alert('WeigScan-M_SCALES_ONE: \n'+JSON.stringify(one));	// @@
				// vm.cur1 = one || {};
				vm.cur1 = one;
			} else {
				vm.$router.push('/index');
			}
    });
  },

};
</script>