<template>
  <div class="content">
    <div class="notification is-success is-light tw-text-xl tw-font-semibold tw-text-center tw-rounded-lg tw-py-3">秤 重</div>
    <div class="columns is-mobile is-variable is-1 is-multiline is-vcentered tw-mb-0 tw-px-4">
      <div class="column tw-py-2 is-full">
        <h3 class="tw-mt-0">{{uData.EnterpriseName}}</h3>
        <h5 class="tw-text-gray-400">日期：{{nowday}}</h5>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        單價
      </div>
      <div class="column tw-py-2 is-9">
        <input class="is-success is-medium input tw-text-center" type="number" v-model="nPrice">
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        生產者
      </div>
      <div class="column tw-py-2 is-9">
        <b-field type="is-success">
          <b-select placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" expanded v-model="selProducer">
            <option v-for="(one, index) in arrProducer" :key="'p_'+index" :value="index+' '+one.ProducerID+' '+one.PName">{{one.ProducerID}} {{one.PName}}</option>
          </b-select>
        </b-field>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        運銷商
      </div>
      <div class="column tw-py-2 is-9">
        <b-field type="is-success">
          <b-select placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" expanded v-model="selDeliver">
            <!-- <option value="A02 丞霆國際" selected>A02 丞霆國際</option> -->
            <option v-for="(one, index) in arrDeliver" :key="'d_'+index" :value="one.DeliverID+' '+one.DName">{{one.DeliverID}} {{one.DName}}</option>
          </b-select>
        </b-field>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        秤重品項 
      </div>
      <div class="column tw-py-2 is-9">
        <b-field type="is-success">
          <b-select placeholder="請選擇" size="is-medium" icon="bookmark" class="tw-rounded-lg tw-bg-gray-50" expanded v-model="selFoods">
            <!-- <option value="P0001 木瓜" selected>P0001 木瓜</option> -->
            <option v-for="(one, index) in arrFoods" :key="'v_'+index" :value="one.FoodID+' '+one.FoodName">{{one.FoodID}} {{one.FoodName}}</option>
          </b-select>
        </b-field>
      </div>
      <div class="column tw-py-2 is-3 tw-text-lg tw-font-semibold">
        重量<br>(台斤) 
      </div>
      <div class="column tw-py-2 is-9">
        <div class="box tw-font-bold tw-text-3xl tw-border-4 tw-shadow-lg tw-border-green-400 tw-text-right">
          <h1 class="tw-mb-0">{{nTaijin}}</h1>
        </div>
        <div class="tw-font-bold tw-text-lg tw-text-right tw--mt-4">{{nWeight}} 公斤</div>
      </div>
			<div class="column tw-py-3 is-6 tw-text-right tw-font-semibold">
				印單否 <b-switch v-model="isNeedPrn"
				:rounded="false"
				:outlined="false"
				size="is-medium"
				type="is-primary"
				passive-type="is-warning">{{isNeedPrn?"是":"否"}}
				</b-switch>
			</div>
      <div class="column tw-py-3 is-6">
        <b-button size="is-large"
          icon-left="cloud-upload-outline"
          type="is-success"
          @click="doPrint"
          class="tw-font-semibold"
          :loading="isRuned"
          expanded
        >上傳記錄
        </b-button>
      </div>
			<div class="column tw-py-3 is-full tw-text-right">
				單位 <b-switch v-model="isTaijin"
				:rounded="false"
				:outlined="false"
				size="is-medium"
				type="is-primary"
				passive-type="is-warning">{{TxtTaijin(isTaijin)}}
				</b-switch>
			</div>
    </div>
    <div class=" tw-p-4">
      <p>合 計 ： <b class=" tw-text-lg">{{nTotalWeight}} / {{totalNum}}</b> ({{TxtTaijin(isTaijin)}}/筆數)</p>
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>批次</th>
            <th>品項</th>
            <th class=" tw-text-right">重量({{TxtTaijin(isTaijin)}})</th>
          </tr>
        </thead>
				<tbody>
					<template v-for="(one, index) in arrResult">
						<tr :key="'r_'+index">
							<td>{{one.LotNo}}</td>
							<td>{{one.FoodID}} {{one.FoodName}}</td>
							<td class=" tw-text-right">
								{{isTaijin?one.Taijin:one.Weights}}
								<span v-if="!one.DeleFlag" @click="clickFlag(one)">
									<b-icon icon="close-box" class=" tw-text-red-500 tw-align-bottom tw-ml-2" />
								</span>
								<span v-else>作廢</span>
							</td>
						</tr>
					</template>
				</tbody>
      </table>
<!-- 
      <nav class="tw-py-4 tw-flex tw-justify-between tw-items-center">
        <div class=" tw-flex-none tw-flex tw-items-center">
          <a class="is-dark button">上頁</a>
          <div class=" tw-mx-2 tw-flex tw-items-center">
            <div class="control tw-mr-2">
              <input class="input tw-w-12 tw-text-center" type="number" value="1">
            </div>
            / 5
          </div>
          <a class="is-dark button">下頁</a>
        </div>
        <div class=" tw-flex-none">
          共5頁，55筆
        </div>
      </nav>
 -->
			<b-pagination
				:total="totalNum"
				v-model="nCurPage"
				:per-page="nPerPage"
				:icon-prev="'chevron-left'"
				:icon-next="'chevron-right'"
				:order="'is-centered'">
			</b-pagination>
    </div>
  </div>
</template>

<script>
import store from 'src/store'
import { showAlert } from 'src/libs/appHelper.js'

import { deviseFunction, sendDeviseToPrn } from 'src/libs/deviseHelper.js'
// import moment from 'moment'
import { S_Obj, ForDate1, ForDate2, ToDecimal, ToTaijin, TxtTaijin } from 'src/fun1.js'	// 共用fun在此!

const IsDev = S_Obj.isDebug 	//開發debug

export default {
  name: "Weighing",
  data() {
    return {
      state: this.$store.state,
      publicData: this.$store.state.publicData,
      uData: this.$store.state.userData,

      isRuned: false,
      isTaijin: true,		// 台斤/公斤
      isNeedPrn: true,		// 需印單否
			nowday: ForDate2(),

			arrProducer: [], // 生產者
			arrDeliver: [], // 運銷商
			arrFoods: [], // 農產品
			arrResult: [], // 結果

			// totalPage: 5,		// 總頁數
			totalNum: 0,			// 總筆數
			// nPerPage: 15,			// 每頁秀幾筆
			nPerPage: 10,			// 每頁秀幾筆
			nCurPage: 1,			// 當前頁碼
			StartRow: 1,			// 起始筆數
			EndRow: 10,				// 結束筆數=每頁秀幾筆(nPerPage

      selProducer: '',
      selDeliver: '',
      selFoods: '',
      selPMarker: '',
      curGID: '',
			// nWeight: 0, 		// 磅秤數值
      nPrice: 36,
			totalWeight: 0,			// 總重量(秤數

    };
  },
  computed: {
    // uData() {
      // return this.state.userData
    // },
    nWeight() {	// 磅秤數值
      return this.publicData.weight
    },
    nTotalWeight() {
			const nTotal 	= this.totalWeight
				,n1 				= this.isTaijin ? ToTaijin(nTotal) : nTotal
      return ToDecimal(n1, 2);
    },
    nTaijin() {
			const n1 = this.nWeight * 1.6667
      return n1 ? ToDecimal(n1, 2) : 0;
    },
  },

  methods: {
    TxtTaijin: TxtTaijin,
		/* 作廢 */
    clickFlag(one) {
			const gid = one.GID
			IsDev && console.log('作廢-gid: ', gid);	// @@
			if (!gid) { console.error('GID為空'); return; }
			this.curGID = gid;

			const _msg = '批次: '+one.LotNo+'<br>'
								+ '品項: '+one.FoodID+one.FoodName+'<br>'
								+ '重量: '+one.Taijin+' 台斤<br>'
								+ '您確定要作廢嗎?'
			this.showConfirm(_msg, this.doDelete);

		},
    doDelete() {
			const res = this.$store.dispatch('GetSetScaleGid', {GID: this.curGID,DeleFlag: 1})
			if (!res.error) {	// 成功
				this.getWeightList()
			} else {
				showAlert(res.ErrorMsg);
			}
		},
    doPrint() {
			if (IsDev) {
				const num1 = Math.floor(Math.random()*(99-10+1)+10)*0.123;	// @@測試demo
				store.commit('setGetweighing', ToDecimal(num1, 2)+'kg')	// @@測試demo
			}

			const selPMarker = this.selPMarker
				,selDeliver = this.selDeliver
				,selFoods = this.selFoods
			if (!selPMarker || !selDeliver || !selFoods) {
				showAlert("所有下拉選項,都需選擇");
				return;
			}

			const nPrice = this.nPrice
			if (!nPrice) { showAlert("請輸入單價"); return; }

// console.log('doPrint-selProducer: ', selPMarker);	// @@
// console.log('doPrint-selDeliver: ', selDeliver);	// @@
// console.log('doPrint-selFoods: ', selFoods);	// @@
      if (this.isRuned)		return	// 防止連按

			const _msg = '單價: '+nPrice+'<br>'
								+ '生產者: '+selPMarker+'<br>'
								+ '運銷商: '+selDeliver+'<br>'
								+ '秤重品項: '+selFoods+'<br>'
								+ '重量: '+this.nTaijin+' 台斤<br>'
								+ '您確定要上傳記錄嗎?'

			this.showConfirm(_msg, this.runSave);
		},
    // runPrint(one) {
      // // if (!this.isNeedPrn)		return	// 防止連按
		// },
    runSave() {
			this.isRuned = true

			// const selPMarker = this.selPMarker
			const selDeliver 	= this.selDeliver
				,selFoods 			= this.selFoods
				,nPrice 				= parseInt(this.nPrice)
				,uData 					= this.uData

			const arr1 	= this.selProducer.split(' ')
				,arr2 		= selDeliver.split(' ')
				,arr3 		= selFoods.split(' ')
				,ProducerID = arr1[1]
				,DeliverID = arr2[0]
				,FoodID = arr3[0]
				,FoodName = arr3[1]

			const param1 = {
				act: "M_Scales_Weight",
				FoodID: FoodID,
				FoodName: FoodName,
				ProducerID: ProducerID,
				DeliverID: DeliverID,
				UnitPrice: nPrice,
				Unit: '公斤',
				Weight: this.nWeight,
				UserCode: uData.UserCode
			}
      this.$store.dispatch('ensureScaleWeight', param1).then(res => {
				IsDev && console.log('ensureScaleWeight-res: ', res);	// @@

				if (!res.error) {	// 成功

					const one = res[0]
					const param2 = {
						PCDate: this.nowday,
						PCName: uData.EnterpriseName,
						PExpress: selDeliver,
						PMarker: this.selPMarker,
						PName: selFoods,
						FoodID: FoodID,
						FoodName: FoodName,
						LotNo: one.LotNo,
						QRCODE: one.GID,
						ProducerID: ProducerID,
						DeliverID: DeliverID,
						Unit: '台斤',
						Weight: this.nTaijin
					}
					this.isNeedPrn && sendDeviseToPrn(param2);
					// this.isNeedPrn && this.runPrint(one);

					this.resetRow();
					this.getWeightList();

					this.showMsg(true);

				} else {
					this.showMsg(false);
        }
      })
    },
    getParam1() {
			const selProducer = this.selProducer
				,selDeliver 		= this.selDeliver
				,selFoods 			= this.selFoods
				,arr1 		= selProducer.split(' ')
				,arr2 		= selDeliver.split(' ')
				,arr3 		= selFoods.split(' ')
				,ProducerID 		= arr1[1]
				,DeliverID 			= arr2[0]
				,FoodID 				= arr3[0]
				,selDate1 			= ForDate1()
				// ,selDate1 			= "2022-02-22"	// @@test

			// console.log('doQuery-ForDate1: ', ForDate1);	// @@
			// console.log('doQuery-selProducer: ', selProducer);	// @@
			// console.log('doQuery-selDeliver: ', selDeliver);	// @@
			// console.log('doQuery-selFoods: ', selFoods);	// @@

			const param1 = {
				BeginDate: selDate1,
				EndDate: selDate1,
				// BeginDate: "2022-03-08",	// @test
				// EndDate: "2022-03-08",		// @test
				ProducerID: ProducerID,
				DeliverID: DeliverID,
				FoodID: FoodID,
				// srow: this.StartRow,
				// erow: this.EndRow,
				// orderby: "LastModify desc",
				StartRow: this.StartRow,
				EndRow: this.EndRow,
				OrderByRows: "a.LastModify desc, a.LotNo desc",
			}
			IsDev && console.log('ensureWeightList1-param1: ', param1, selDate1);	// @@
			return param1;
    },
    async getTotalCount() {
			const param1 = this.getParam1()
			if (!param1) { return; }

      await this.$store.dispatch('ensureWeightCountList1', param1).then(res => {
				// IsDev && console.log('getTotalCount-res: ', res);	// @@
				this.totalNum = 0;
				if (res.length) {	// 成功
					const one = res[0]
					this.totalNum = one.TotalCount;
        }
      })
    },
    async getWeightList() {
			const param1 = this.getParam1()
			if (!param1) { return; }

			await this.getTotalCount();
      this.$store.dispatch('ensureWeightList1', param1).then(res => {
				IsDev && console.log('getWeightList-res: ', res);	// @@
				if (!res.error) {	// 成功
					let nTotal = 0;
					// SortBy.call(res, 'LotNo', 1).forEach((o1)=>{
					res.forEach((o1)=>{
						const nWei = o1.Weights
						o1.Taijin = ToTaijin(nWei)
						nTotal += nWei;
					})
					// this.totalWeight = ToDecimal(nTotal, 2);
					this.totalWeight = nTotal;
					this.arrResult = res;

				} else {
					showAlert(res.ErrorMsg);
        }
      })
    },

    // initFlag(bOn) {
			// this.isRuned = bOn
    // },
		async fetchAllData(){
			this.setLoading(true)
			await store.dispatch('fetchProducer') // for 生產者
			await store.dispatch('fetchDeliver') // for 運銷商
			await store.dispatch('fetchFoods') // for 農產品

			this.arrProducer = this.publicData.appProducer
			this.arrDeliver = this.publicData.appDeliver
			this.arrFoods = this.publicData.appFoods
			// console.warn('beforeRouteEnter-selDate1,selDate2: '+this.selDate1, this.selDate2);	// @@

			this.setLoading(false)
    },
		resetRow(){
			this.StartRow = 1;
			this.nCurPage = 1;
			this.isSubmit = false
    },
		initData(){
      this.selProducer = ''
      this.selDeliver = ''
      this.selFoods = ''
    },
    // 秀狀態訊息
    showMsg(bOK) {
			// console.log('秀狀態訊息-bOK: ', bOK);	// @@
			const msg1 = '列印'+(bOK ? '成功' : '失敗')
			this.showToast(bOK, msg1);
			this.isRuned = false
    },
  },
  // async beforeRouteEnter(to, from, next) {
		// deviseFunction('Getweighing', '', '"cbFnGetweighing"')

		// // next()
		// next(vm => {
		// });
  // },
  async created() {
		deviseFunction('Getweighing', '', '"cbFnGetweighing"')
		this.initData();
		await this.fetchAllData();

// this.getWeightList()		// @@test
  },
  beforeRouteLeave(to, from, next) {
		deviseFunction('GetweighingOFF', '', '')

		this.$destroy();	/** @Important: 需加讓created每次進去 */

    next()
  },
	watch: {
		selProducer: function (v1) {
			if (!v1.length) { return; }

			const arr1 		= v1.split(' ')
				,producerID = arr1[1]
				,arr2 = this.publicData.appFoods
				,one = arr2.filter((item) => {
					return item.ProducerID == producerID;
				});

			this.arrFoods = one
			// IsDev && console.log('selProducer-v1: '+producerID, one);	// @@

			this.selPMarker = arr1[1]+' '+arr1[2];
		},
		/* 更新目前頁數 */
		nCurPage(num1){
			// console.warn('更新目前頁數: ', num1);	// @@
			const total	= this.totalNum
			// let _txt = '查無記錄!!'
			if (total != 0) {
				let start	= (num1-1) * this.nPerPage + 1
					,end 		= num1 * this.nPerPage

				start 	= (start < total) ? start : total;
				end 	= (end < total) ? end : total;
				// _txt 	= '第 '+start+' ~ '+end+' 筆，共 '+total+' 筆資料';
				this.StartRow = start;
				this.EndRow = end;
				this.getWeightList()
			// } else {
			}
			// console.warn(_txt);	// @@
    },
	}
};
</script>