<template>
  <header class="tw-border-b tw-select-none">
    <div class="tw-flex tw-items-center tw-h-12">
      <!-- 左欄 -->
      <!-- back icon -->
      <div class="tw-flex-initial tw-px-3" style="min-width:24px" @click="goBack" v-if="showburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </div>
      <!-- burger icon -->
      <div class="tw-flex-initial tw-px-3" style="min-width:24px" @click="toggleSideMenu" v-else>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </div>
      <!-- 中欄 -->
      <div class="tw-flex-1 tw-text-lg tw-text-center" @click="$router.push('/index')">
        <img class="tw-rounded-full tw-w-6 tw-inline-block tw-mr-1 tw-align-text-bottom" src="../assets/images/app-icon.png">
        雲端電子秤整合系統
      </div>
      <!-- 右欄 -->
      <div class="tw-flex-initial tw-px-3" style="min-width:48px"></div>
    </div>
  </header>
</template>

<script>
export default {
  name: "NavBar",
  computed: {
    showburger() {
			const thePage = this.$route.path.replace(/\//g, '')
				// ,isTrue	= !(thePage == '' || thePage == 'index')
			// console.log('showburger-isTrue,thePage: '+isTrue, thePage);	// @@
      // return isTrue
      return !(thePage == '' || thePage == 'index')
    },
  },
  methods: {
    toggleSideMenu(){
      this.$emit('toggle-side-menu')
    },
    goBack() {
			const thePage = this.$route.path
					,quer1 		= this.$route.query.q
			// console.log('goBack-quer1: ', quer1);	// @@
			console.log('goBack-thePage: ', thePage);	// @@
			// alert('goBack-thePage: '+thePage)

			if (quer1) {
				this.$router.push('/statistic')

			// } else if (/weigscan|weighing/.test(thePage)) {
			} else if (!/index/.test(thePage)) {
				this.$router.replace('/index')
			} else {
				this.$router.go(-1);
			}
    },

  }
};
</script>