<template>
  <div class="modal tw-block">
    <div class="modal-background tw-opacity-0" @click="toggleSideMenu()"></div>
    <div class="modal-content tw-m-0 tw-max-h-full tw-h-full tw-w-80 tw-shadow-xl tw-overflow-hidden">
      <aside class="menu tw-flex tw-flex-col tw-h-full tw-bg-white tw-p-4 tw-w-80 tw-z-10 tw-border-r">
        <ul class="menu-list tw-text-lg tw-flex-auto tw-h-full">
          <li>
            <button class="button is-medium is-light tw-w-full is-active tw-text-center">登入資訊</button>
            <ul>
              <li>版本：<br><span class="tw-font-semibold">20220426-01</span></li>
              <li>單位：<br><span class="tw-font-semibold">{{userData.EnterpriseName}}</span></li>
              <li>用戶：<br><span class="tw-font-semibold">{{userData.UserName}}</span></li>
            </ul>
          </li>
          <li><button v-if="false" class="button tw-w-full tw-rounded-lg is-medium tw-font-semibold is-dark" @click="$router.push('/setting?mode=password');toggleSideMenu()">修改密碼</button></li>
        </ul>
        <div>
          <button class="button tw-w-full tw-rounded-lg is-medium tw-font-semibold is-outlined" @click="memberLogout">登出</button>
        </div>
      </aside>    
      <button class="delete is-large tw-z-10 tw-mr-2 tw--mt-2 tw-absolute tw-left-72 tw-top-0 tw-transform tw--translate-x-2 tw-translate-y-3" @click="toggleSideMenu"></button>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideMenu",
  data() {
    return {
			// state: this.$store.state,
			userData: this.$store.state.userData || {},
    };
  },
  methods: {
    toggleSideMenu(){
      this.$emit('toggle-side-menu')
			// console.warn('toggleSideMenu');	// @@
    },
		/* 登出 */
    memberLogout() {
			this.$store.dispatch('memberLogout', 1)
			this.toggleSideMenu()
    },
  }
};
</script>