<template>
  <div id="app" class="has-background-white is-flex is-flex-direction-column" style="height:100%">

    <!-- 頂功能元件 -->
    <NavBar @toggle-side-menu="toggleSideMenu" />

    <!-- 內容 -->
    <transition name="page-fade" :duration="{ leave: 0 }" mode="out-in">
      <keep-alive :max="4">
        <router-view class="tw-flex-1 tw-h-full tw-bg-white tw-overflow-y-auto" />
      </keep-alive >
    </transition>
    
    <!-- 側選單元件 -->
    <transition name="side-menu" mode="out-in">
      <SideMenu v-if="isSideMenu" @toggle-side-menu="toggleSideMenu" />
    </transition>

  </div>
</template>
<script>
import NavBar from "./components/NavBar";
import SideMenu from "./components/SideMenu";
export default {
  components: { NavBar, SideMenu }, 
  data() {
    return {
      isSideMenu: false,
    };
  },
  methods: {
    toggleSideMenu() {
      this.isSideMenu = !this.isSideMenu
    }
  }
}
</script>
<style lang="stylus">
.menu-list li > a.is-active
  @apply tw-rounded-lg tw-bg-gray-500 !important
</style>
